[replication_port://9000]

[shclustering]
disabled = false
mgmt_uri = https://{{ inventory_hostname }}:8089
replication_factor = {{shcluster_replication_factor}}
conf_deploy_fetch_url = {{deployer_uri}}
shcluster_label = {{shcluster_label}}
pass4SymmKey = {{ shcluster_secret }}

[clustering]
mode = searchhead
manager_uri = {{ cluster_manager_uri }}
pass4SymmKey = {{ cluster_secret }}